*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(34, 39, 46);
    color: rgb(73, 151, 73);
    font-family: 'Roboto Slab', serif;
}
nav{
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    text-align: center;
    top: 0;
    margin-bottom: 20px;
    background-color: rgb(34, 39, 46);
    overflow-x: auto;
    white-space: nowrap;
}
nav ul{
    padding: 20px 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
    margin: 0 8px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(73, 151, 73);
    transition: 0.2s;
}
nav ul li a:hover{
    color: limegreen;
}
main{
    font-size: 1em;
}
li{
    list-style: none;
}
.contenido{
    max-width: 850px;
    text-align: justify;
    padding: 5px;
}
@media (max-width: 750px){
    main{
        font-size: 0.95em;
    }
}
@media (max-width: 600px){
    nav ul{
        padding: 10px 0;
        margin: 0;
    }
    nav ul li{
        margin: 0 15px;
    }
    main{
        font-size: 0.9em;
    }
}
@media (max-width: 450px){
    h1{
        font-size: 1.7em;
    }
    main{
        font-size: 0.75em;
    }
}
code{
    display: inline-block;
    color: silver;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: black;
}
.directorio{
    color: rgb(117, 117, 255);
}
.carpeta{
    color: rgb(255, 149, 149);
}
.comentario{
    color: rgb(114, 159, 241);
}